## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[mcu]
canbus_uuid: 76ea15318367

[mcu EBB36]
canbus_uuid: 05da9f9d0a82

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 9000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[include mainsail.cfg]
[include klicky-probe.cfg]

[adxl345]
cs_pin: EBB36: PB12
spi_software_sclk_pin: EBB36: PB10
spi_software_mosi_pin: EBB36: PB11
spi_software_miso_pin: EBB36: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    137.5,132.5, 20  # middle of bed as an example

# embedded temperature sensor
[temperature_sensor EBB]
sensor_type: temperature_mcu
sensor_mcu: EBB36
min_temp: 0
max_temp: 100

[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 200 for 1.8 degree stepper
endstop_pin: ^EBB36:PB6
position_min: 0
position_endstop: 275
position_max: 275
homing_speed: 125
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PB8
interpolate: False
run_current: 1.4
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 200 for 1.8 degree stepper
endstop_pin: PB0
position_min: 0
position_endstop: 265
position_max: 265
homing_speed: 125
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC9
interpolate: False
run_current: 1.4
sense_resistor: 0.110
stealthchop_threshold: 0
 
[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
rotation_distance: 2
microsteps: 16
full_steps_per_rotation: 400
endstop_pin: probe:z_virtual_endstop
position_max: 280
position_min: -12.5
homing_speed: 8.0
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PD0
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PD5
dir_pin: PD6
enable_pin: !PB3
rotation_distance: 2
microsteps: 16
full_steps_per_rotation: 400

[tmc2209 stepper_z1]
uart_pin: PD1
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB4
rotation_distance: 2
microsteps: 16
full_steps_per_rotation: 400

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PB5
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
step_pin: EBB36:PD0
dir_pin: EBB36:PD1
enable_pin: !EBB36:PD2
heater_pin: EBB36:PB13
sensor_pin: EBB36:PA3
rotation_distance: 53.67  
gear_ratio: 44:10, 37:17
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 10
max_temp: 285
max_power: 1.0
min_extrude_temp: 15
max_extrude_only_distance: 150.00
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#pressure_advance: 0.05
#pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
run_current: 0.575
sense_resistor: 0.110
stealthchop_threshold: 0
uart_pin: EBB36:PA15
interpolate: false


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PB2
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA3
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

[probe]
pin: ^EBB36:PB5
x_offset: -2
y_offset: 28.75
#z_offset: 5
speed: 3.0
lift_speed: 7
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[bed_mesh]
speed: 160
horizontal_move_z: 10
mesh_min: 15,15
mesh_max: 260,250
probe_count: 5,5
fade_start: 1.0

[fan]
pin: EBB36:PA1
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: EBB36:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[heater_fan heater_fan]
##	Controller fan - CNC_FAN2
pin: PA8
fan_speed: 0.4
kick_start_time: 0.5
heater: heater_bed
heater_temp: 15.0

[idle_timeout]
timeout: 18000

# [homing_override]
# axes: z
# set_position_z: 0
# gcode:
#    G90
#    G0 Z5 F600
#    G28 X Y
#    ##	XY Location of the Z Endstop Switch
#    ##	Update X0 and Y0 to your values (such as X157, Y305) after going through
#    ##	Z Endstop Pin Location Definition step.
# #   G0 X175 Y299 F6600 
#    G0 X125 Y125 F6600 
# #   G0 X169 Y299 F3600 


#    G28 Z
#    G0 Z10 F3600
#    G0 X125 Y125 F6600
# #   G0 Z10 F1800


# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position:-10,-10
# speed:100
# z_hop:10

[z_tilt]
z_positions:
    10, 8
    137.5, 263
    265, 8
points:
    15, 15
    137.5, 230
    260, 15
speed: 200
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075

[gcode_macro PRINT_START]
gcode:
    M117 Homing...                 ; display message
    G28
    Z_TILT_ADJUST
    G28

   
[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; slower extrusion for hotend path
   G1 E30 F1800                  ; quickly load filament to down bowden
   G1 E30 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E5 F300                    ; extrude a little to soften tip
   G1 E-120 F1800                 ; retract filament completely
   M82                     

[gcode_macro Print_Prep]
gcode:
  G28
  z_tilt_adjust
  G28
  bed_mesh_calibrate

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.694
#*# pid_ki = 3.456
#*# pid_kd = 82.130
#*#
#*# [probe]
#*# z_offset = 9.050
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 74.2
#*# shaper_type_y = zv
#*# shaper_freq_y = 95.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.058125, 0.041250, 0.020000, 0.028750, 0.050625
#*# 	0.035000, 0.030000, -0.002500, 0.030000, 0.082500
#*# 	0.063125, 0.010625, 0.021875, 0.049375, 0.092500
#*# 	0.060625, 0.002500, 0.020000, 0.050000, 0.132500
#*# 	0.050625, 0.040625, 0.046875, 0.106875, 0.226250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 230.0
#*# min_y = 30.0
#*# max_y = 225.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.082
#*# pid_ki = 0.919
#*# pid_kd = 374.066
